<h1>Sign up</h1>

<form action="post" action="/signup">
<label for="username">
    Your usermame
    <input type="text" name="username">
</label>

<label for="password">
    Your password
    <input type="text" name="password">
</label>

<button type="submit"> Submit </button>

</form>